body{
margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    background-color: darkgreen;
    padding: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;

}

.logo img{
width: 120px;
margin-left: 20px;
}


.nav-link{
display: flex;
margin-left: auto;
gap: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
margin-right: 20px;
align-items: center;
}

.nav-link .Contact-button{
    background-color: goldenrod;
    border-radius: 25px;
    padding: 10px;

}

.body{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    
}


.hero-section{
    margin-top: 20px;
    position: relative;
width: 100%;
}

.hero-description{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    
}

.hero-description h1{
font-size: 80px;
color: white;

}

.hero-description p{
    font-size: 50px;
    color: white;
}

.hero-section img{
border-radius: 20px;
width: 100%;
}


.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    align-content: center;
}

.about-us h2{
    display: flex;
    justify-content: center;
}




.footer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    gap: 200px;
    text-align: center;
    background-color: green;
    color: white;
}

.services{
display: flex;
justify-content: center;
font-size: 20px;
}

.footer.Experiences{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.footer.Destinations{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
footer.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

