body{
margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    background-color: darkgreen;
    padding: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;

}

.logo img{
width: 120px;
margin-left: 20px;
}


.nav-link{
display: flex;
margin-left: auto;
gap: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
margin-right: 20px;
align-items: center;
}

.nav-link .Contact-button{
    background-color: goldenrod;
    border-radius: 25px;
    padding: 10px;

}

.body{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    
}

.hero-section{
    margin-top: 20px;
    position: relative;
}

.hero-description{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    
}

.hero-description h1{
font-size: 50px;
color: white;

}

.hero-section img{
border-radius: 20px;
}



.services{
    font-size: 20px;
}





