

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Noto Serif;
}

.nav{
    background-color: darkgreen;
    padding: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;

}

.logo img{
width: 120px;
margin-left: 20px;
}


.nav-link{
display: flex;
margin-left: auto;
gap: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
margin-right: 20px;
align-items: center;
}

.nav-link .Contact-button{
    background-color: goldenrod;
    border-radius: 25px;
    padding: 10px;

}

.body{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    
}


.hero-section{
    margin-top: 20px;
    position: relative;
width: 100%;
}

.hero-description{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    
}

.hero-description h1{
font-size: 50px;
color: black;
font-family: "Sofia", cursive;
}

.hero-description p{
    font-size: 30px;
    color: black;
    font-family: "Squada One", sans-serif;
}

.hero-section img{
border-radius: 20px;
width: 100%;
}


.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    align-content: center;
}

.about-us h2{
    display: flex;
    justify-content: center;
}




.tours{
    padding: 60px 0;
    background: #fff;
    
    
    
}

.package-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
    
.package{
    background: #eee;
    height: 150px;
    border-radius: 6px;
}
    



.partners{
    padding: 40px 0;
    background: #fff;
    
    
}

.container-partner-logos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.partner{
    width: 120px;
    height: 60px;
    background: #ddd;
}
.footer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    gap: 130px;
    text-align: center;
    background-color: green;
    color: white;
}

.services{
display: flex;
justify-content: center;
font-size: 20px;
flex-direction: column;
align-items: center;
gap: 20px;
}

.footer.Experiences{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.footer.Destinations{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
footer.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-bar{
    margin-left: auto;
    display: block;
}

.destinations{
    padding: 60px;
}

.destination-grid{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.destination{
    flex: 1;
    min-width: 200px;
    height: 130px;
    background: #ddd;
    border-radius: 6px;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}




    
@media(max-width: 768px){

    .hero-description h1{
    font-size: 22px;
   }

 
 .nav-link{
    display: none;
 }
 

 .logo img{
    width: 100px;
 }


.about-us h2{
    font-size: 22px;
}
}

@media (min-width: 767px) {
    .nav-bar{
        display: none;
    }
}